<ion-header>
  <ion-navbar>

    <ion-title class="frie">{{friellenge.nameFriellenge}}</ion-title>

  </ion-navbar>
</ion-header>

<ion-content class="cards-bg social-cards">

  <ion-card>
    <ion-item >

      <p class="status" *ngIf="friellenge.remains == 'Finished'">
          <span class="status" >Friellenge is finished
          </span>
      </p>

      <h2>{{friellenge.profile.fullName}}
        <ion-buttons end>
          <button ion-button color="primary" (click)="presentPopover($event, friellenge)" clear small icon-start>
            <ion-icon name='ios-more-outline' ></ion-icon>
          </button>
        </ion-buttons>
      </h2>
      <p>{{friellenge.profile.location}}
        <ion-icon *ngIf="friellenge.type == 'Open'" ios="ios-globe" md="md-globe"></ion-icon>
        <ion-icon *ngIf="friellenge.type == 'Private'" ios="ios-lock" md="md-lock"></ion-icon>
        <ion-icon *ngIf="friellenge.type == 'Friends'" ios="ios-contacts" md="md-contacts"></ion-icon>
      </p>

      <ion-avatar item-start>
        <img src={{friellenge.profile.linkPhoto}} (click)="openProfile(friellenge.profile)">
      </ion-avatar>
      <p>
        <ion-icon class="prog" *ngIf="friellenge.status == 'InProcess'">В процессе</ion-icon>
        <ion-icon class="fin" *ngIf="friellenge.status == 'Finished'">Законченный</ion-icon>
        <ion-icon class="deff" *ngIf="friellenge.status == 'Deffered'">Отложенный</ion-icon>
      </p>

    </ion-item>

    <ion-card-content>
      <p>{{friellenge.nameFriellenge}}</p>
      <p>{{friellenge.descriptionOfFriellenge}}</p>
    </ion-card-content>

    <button *ngIf="!friellenge.isJoinIn" ion-button full color="green" (click)="joinIn(friellenge)">
      Join in
    </button>
    <button *ngIf="friellenge.isJoinIn" ion-button full color="red" (click)="leaveIt(friellenge)">
      Leave it
    </button>
    <button *ngIf="friellenge.isJoinIn" ion-button full color="red" (click)="approvalFriellenge(friellenge)">
      Approval
    </button>

    <img src={{friellenge.picture}}>
    <ion-row>

      <ion-col align-self-center text-center color="danger">
        <p  clear small  >
          <ion-icon name='md-heart' color="danger"></ion-icon>
          {{friellenge.friellengeLikes}}
        </p>
      </ion-col>


      <ion-col align-self-center text-center>
        <p  clear small >
          <ion-icon name='md-person' color="primary"></ion-icon>
          {{friellenge.countOfProfileByFriellenge}}
        </p>
      </ion-col>

      <ion-col align-self-center text-center>
        <p  clear small >
          <ion-icon name="logo-usd" color="green"></ion-icon>
          {{friellenge.donat}}
        </p>
      </ion-col>

      <ion-col align-self-center text-center>
        <button ion-button color="dark" clear small icon-start>
          <ion-note >
            {{friellenge.countOfCommentByFriellenge}} Comments
          </ion-note>
        </button>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button clear small icon-start (click)="addLike()">

          <p *ngIf="friellenge.isLiked">
            <ion-icon name='md-heart' color="danger"></ion-icon>
          </p>
          <p *ngIf="!friellenge.isLiked">
            <ion-icon name='ios-heart-outline'></ion-icon>
          </p>

        </button>
      </ion-col>

      <ion-col>
        <button ion-button color="dark" clear small icon-start>
          <ion-icon name='ios-redo-outline'></ion-icon>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          <button ion-button color="dark" clear small icon-start (click)="addToFavorite()">
            <p *ngIf="friellenge.isFavorite">
              <ion-icon name='ios-star' color = "yellow"></ion-icon>
            </p>
            <p *ngIf="!friellenge.isFavorite">
              <ion-icon name='ios-star-outline'></ion-icon>
            </p>
          </button>
        </ion-note>
      </ion-col>
    </ion-row>

    <ion-card-content>
    <ion-col *ngIf="friellenge.remains !== 'Finished'">
      <p>{{friellenge.remains}}</p>
    </ion-col>

    <ion-col *ngIf="friellenge.remains == 'Time to end'">
      <p text-center *ngIf="timeInSeconds && timeInSeconds > 0">{{displayTime}}</p>
    </ion-col>
      </ion-card-content>
  </ion-card>
<!--//*************************************-->
  <ion-card *ngFor="let item of approvals">

    <button ion-button full color="blue" >
      Approval
    </button>

    <ion-item >

      <h2>{{item.profile.fullName}}
        <ion-buttons end>
          <button ion-button color="primary" (click)="presentPopoverApproval($event, item)" clear small icon-start>
            <ion-icon name='ios-more-outline' ></ion-icon>
          </button>
        </ion-buttons>
      </h2>
      <p>{{item.profile.location}}</p>

      <ion-avatar item-start>
        <img src={{item.profile.linkPhoto}} (click)="openProfile(item.profile)">
      </ion-avatar>

      </ion-item>

      <ion-card-content>
        <p>{{item.comment}}</p>
      </ion-card-content>

      <img src={{item.reference}}>

    <button ion-button clear small icon-start (click)="addApprovalLike(item)">

      <p *ngIf="item.liked">
        <ion-icon name='md-heart' color="danger"></ion-icon>
      </p>
      <p *ngIf="!item.liked">
        <ion-icon name='ios-heart-outline'></ion-icon>
      </p>

    </button>
    {{item.approvalLikes}}

  </ion-card>
<!--//********************************-->
  <ion-card *ngFor="let item of comment">

    <ion-item >
      <ion-avatar item-start>
        <img src={{item.profile.linkPhoto}} (click)="openProfile(item.profile)">
      </ion-avatar>
      <h2>{{item.profile.fullName}}
        <ion-buttons end>
          <button ion-button color="primary" (click)="presentPopoverComment($event, item)" clear small icon-start>
            <ion-icon name='ios-more-outline' ></ion-icon>
          </button>
        </ion-buttons>
      </h2>
      <h5 icon-start class="commentDate">{{getCommentDate(item.commentDate)}}</h5>
      <p class="frName">{{item.friellenge.nameFriellenge}}</p>
    </ion-item>

    <ion-card-content>
      {{item.comment}}
    </ion-card-content>

  </ion-card>

    <ion-list>

      <ion-item>
        <ion-label floating>Comment</ion-label>
        <ion-textarea [(ngModel)]="newComment.comment" type="text"></ion-textarea>
      </ion-item>
      <button (click)="save()" color="light" ion-button full>Save</button>
    </ion-list>

</ion-content>


<style>
  .social-cards ion-col {
    padding: 0;
  }
</style>





