<!--
  Generated template for the ApprovalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>approval</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <div>
    <img src="{{ myphoto }}">
  </div>

  <button ion-button color="danger" (click)="presentPopover($event)" round small>
    <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
  </button>
  <ion-item >
    <!--<h3>{{friellenge.nameFriellenge}}</h3>-->
    <ion-textarea placeholder="Введите описание"
                  [(ngModel)]="descriptionApproval">
    </ion-textarea>
  </ion-item>
  <button ion-button full color="red" (click)="saveApproval()">
    Approval
  </button>
</ion-content>
