page-approval {


}
.check{
  position: absolute;
  right: 20px;
  top: 20px;
  color: #475754;
}

//.avatr{
//  border-radius: 0%;
//}
//
//.clearfix:after {
//  content: "";
//  display: block;
//  height: 0;
//  clear: both;
//  visibility: hidden;
//}
