<!-- Generated template for the PopMenuOfFriComponent component -->
<!--<div>-->
  <!--{{text}}-->
<!--</div>-->

<!--<script src="../components.module.ts"></script>-->
<ion-list>
  <ion-item *ngFor="let item of items" (click)="itemClick(item)">
    {{item.item}}
  </ion-item>
</ion-list>
