<!--
  Generated template for the NewFriellengePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title class="titl">
      Новый Friellenge
    </ion-title>
    <ion-buttons end>
      <button class="str" ion-button (click)="start()">
        <b>Start</b>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-item class="prof">
    <ion-avatar item-start>
      <img src={{profile.linkPhoto}}>
    </ion-avatar>
    <h2>{{profile.fullName}}</h2>
    <p>{{profile.location}}</p>

  </ion-item>
<div>
  <img src="{{ myphoto }}">
    <button class="camera" ion-button color="danger" (click)="presentPopover($event)" round small>
    <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
  </button>
</div>

  <ion-item>

      <div class="btns">
    <button ion-button color="danger" round small outline (click)="donatInput()" *ngIf="!isDonat">
      <ion-icon ios="ios-globe" md="md-globe"></ion-icon>
      Donat
    </button>

    <button ion-button color="danger" round small (click)="donatInput()" *ngIf="isDonat">
      <ion-icon ios="ios-globe" md="md-globe"></ion-icon>
      Donat
    </button>
    </div>
  </ion-item>

  <ion-item *ngIf="isDonat">
    <ion-input type="number"
               placeholder="Введите сумму доната"
               [(ngModel)]="donat">
    </ion-input>
  </ion-item>

  <ion-item >
    <div class="btns">
    <button ion-button color="danger" (click)="presentPopoverTempl($event)" round outline small>Шаблон</button>

  <button ion-button color="danger" round small outline (click)="typeOpen()" *ngIf="!isTypeOpen">
    <ion-icon ios="ios-globe" md="md-globe"></ion-icon>
    Open
  </button>

    <button ion-button color="danger" round small *ngIf="isTypeOpen">
      <ion-icon ios="ios-globe" md="md-globe"></ion-icon>
      Open
    </button>

  <button ion-button color="danger" round outline small  (click)="typeFriends()" *ngIf="!isTypeFriends">
    <ion-icon ios="ios-contacts" md="md-contacts" ></ion-icon>
    Friends
  </button>

    <button ion-button color="danger" round small *ngIf="isTypeFriends">
      <ion-icon ios="ios-contacts" md="md-contacts" ></ion-icon>
      Friends
    </button>

   <button ion-button color="danger" round outline small  (click)="typePrivate()" *ngIf="!isTypePrivate">
     <ion-icon ios="ios-lock" md="md-lock" ></ion-icon>
     Private
   </button>

    <button ion-button color="danger" round small  *ngIf="isTypePrivate">
      <ion-icon ios="ios-lock" md="md-lock" ></ion-icon>
      Private
    </button>
    </div>
   </ion-item>

  <ion-item>
    <ion-datetime (ionChange)="initStartDate()"
                  displayFormat="DD-MM-YYYY HH:mm"
                  [min]="minDateStart"
                  [max]="maxDateStart"
                  [(ngModel)]="startDate">

    </ion-datetime>
  </ion-item>
  <ion-item>
    <ion-datetime displayFormat="DD-MM-YYYY HH:mm"
                  [min]="minDateFinish"
                  [max]="maxDateFinish"
                  [(ngModel)]="finishDate">

    </ion-datetime>
  </ion-item>

  <ion-item >
    <!--<h3>{{friellenge.nameFriellenge}}</h3>-->
    <ion-textarea placeholder="Введите название Фриленжа"
                  [(ngModel)]="nameTemplate">
    </ion-textarea>
  </ion-item>

    <ion-item>
    <!--<p>{{friellenge.descriptionOfFriellenge}}</p>-->
      <ion-textarea placeholder="Введите описание Фриленжа"
                    [(ngModel)]="descriptionTemplate">
      </ion-textarea>
  </ion-item>

  <ion-item *ngFor="let item of friends">
    <ion-avatar item-start>
      <img src={{item.linkPhoto}} (click)="openProfile(item)">
    </ion-avatar>
    <p>{{item.fullName}}</p>
    <p><span class="fri">Like {{item.likesUser}}</span> <span class="fr">Author {{item.likesAuthor}}</span></p>
    <ion-buttons class="check" end>
      <button *ngIf="!item.isInvite" ion-button color="danger" (click)="addToNewFriellenge(item)" clear small icon-start >
        Invite
      </button>
      <button *ngIf="item.isInvite" ion-button color="danger" (click)="deleteFromNewFriellenge(item)" clear small icon-start >
        Uninvite
      </button>
    </ion-buttons>

  </ion-item>
</ion-content>
