page-new-friellenge {

}

.prof {
  border: none;
  background-color: red;
  width: 100%;
  color: white;
}

.str{
  color: white;
  text-align: center;
  font-size: 20px;
}
.titl{
  text-align: center;
}

.im {
  //border-bottom: 0px;
}

.btns{
  display: flex;
  flex-wrap: wrap;
}
//.button-inner{
//  justify-content:flex-start;
//}

.camera{
  position: absolute;
  right: 20px;
  top: 35%;
}

.fri{
  color: #f53d3d;
}
.fr{
  color: #757575;
}

