<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Template</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg social-cards">

  <ion-card *ngFor="let item of template">

    <ion-card-content>
      <button ion-button color="danger" (click)="choose(item)" round small >Выбрать</button>
      <p>{{item.description}}</p>
      <p>{{item.nameOfTemplate}}</p>
      <p>{{item.typeOfTemplate}}</p>
    </ion-card-content>

    <img src={{item.contentReference}}>

  </ion-card>

</ion-content>

<style>
  .social-cards ion-col {
    padding: 0;
  }
</style>
