<ion-tabs (ionChange)="tabSelected($event)" [selectedIndex]="myIndex">
  <ion-tab [root]="tab1Root" [tabTitle]="tab1Title"></ion-tab>
  <ion-tab [root]="tab2Root" [tabTitle]="tab2Title"></ion-tab>
  <ion-tab [root]="tab3Root" [tabTitle]="tab3Title"></ion-tab>
  <ion-tab [root]="tab4Root" [tabTitle]="tab4Title"></ion-tab>
  <ion-tab [root]="tab5Root" [tabTitle]="tab5Title"></ion-tab>
  <ion-tab [root]="tab6Root" [tabTitle]="tab6Title"></ion-tab>
  <ion-tab [root]="tab7Root" [tabTitle]="tab7Title" tabIcon="menu"></ion-tab>
</ion-tabs>
<!--<button class="tabMenu__btn" ion-button menuToggle="left">-->
  <!--<ion-icon name="menu"></ion-icon>-->
<!--</button>-->


