page-tabs {

}
.tabMenu__btn {
  position: absolute;
  bottom: 0px;
  right: 50px;
  color: red;
  font-size: 25px;
  //background-color: yellow;
  background: none;
}


.tabbar{
  .tab-button{
    &:nth-child(5), &:nth-child(6){
      display: none;
    }
  }
}
