//page-profile {
//
//}
//
//.toolbar-ios{
//  padding: 150px;
//}
//.toolbar-ios ion-title {
//  padding: 0;
//  top: 65px;
//}
//.location{
//  margin-top: 58px;
//  margin-left: -140px;
//}
//button{
//  margin-top: 20px;
//  margin-left: 20px;
//}
  hr {
    border: none; /* Убираем границу */
    background-color: red; /* Цвет линии */
    color: red; /* Цвет линии для IE6-7 */
    height: 5px; /* Толщина линии */
    width: 50px;
  }
//.ava{
//  display: inline-block;
//  float: left;
//}
//.avaR{
//  display: inline-block;
//  float: left;
//}
