<ion-content *ngIf="profile">

  <ion-avatar>
    <!--<img src="{{profile.linkPhoto}}" height="255" width="370"/>-->
    <div>
      <img src="{{profile.linkPhoto}}" height="255" width="370"/>
      <!--<img src="{{ myphoto }}">-->
      <button class="camera" ion-button color="danger" (click)="presentPopover($event)" round small>
        <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
      </button>
    </div>
  </ion-avatar>

  <ion-card-content>
    <ion-card-title>
      {{profile.fullName}}
    </ion-card-title>
    <hr align="left">
    <p>
      {{profile.location}}
    </p>

    <p>
      My Donat:
      {{profile.userDonat}}
    </p>
    <button class="updateProfile" (click)="showPrompt()"  ion-fab>
      <ion-icon ios="md-create" md="md-create"></ion-icon>
    </button>


      <ion-icon color="danger" ios="ios-heart" md="md-heart"></ion-icon>
      {{profile.likesUser}}



    <ion-icon color="danger" ios="ios-heart-outline" md="md-heart-outline"></ion-icon>
    {{profile.likesAuthor}}


    <button ion-button clear color="dark" icon-left>
      <ion-icon name='ios-text-outline'></ion-icon>
    </button>

    <p>
      {{profile.description}}
    </p>
    <br/>


    <p *ngIf="profiles">
      Friends {{profiles.length}}
    </p>

    <div class="ava" *ngFor="let p of profiles">
      <ion-avatar>
        <img class="brd-radius" src="{{p.linkPhoto}}" (click)="openProfile(p)"/>
      </ion-avatar>
      {{p.fullName}}
    </div>


    <p *ngIf="profilesRequest">Add Friends {{profilesRequest.length}}</p>

    <div class="avaR" *ngFor="let pR of profilesRequest">
      <ion-avatar>
        <img class="brd-radius" src="{{pR.linkPhoto}}" (click)="openProfile(pR)"/>
      </ion-avatar>
      {{pR.fullName}}
      <button ion-button round (click)="confirmFriends(pR)">Add</button>
      <button ion-button color="danger" round (click)="ignoreRequestFriendship(pR)">Delete</button>

</div>
  </ion-card-content>
</ion-content>

