<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Simple Timer</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-item text-wrap>
      <h1 text-center *ngIf="timeInSeconds && timeInSeconds > 0">{{displayTime}}</h1>
    </ion-item>

  </ion-card>
</ion-content>
