$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  red:        #e82543,
  light:      #f4f4f4,
  dark:       #222,
  yellow:     #FFBC0A,
  green:      #1c9e60,
);

@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";


//Top ToolBar

//$toolbar-md-background: color($colors, danger);
//$action-sheet-width: 90%;
