<ion-nav [root]="rootPage"></ion-nav>


<!--<ion-menu [content]="content">-->
  <!--<ion-header>-->
    <!--&lt;!&ndash;<ion-toolbar>&ndash;&gt;-->
      <!--&lt;!&ndash;<ion-title>Pages</ion-title>&ndash;&gt;-->
    <!--&lt;!&ndash;</ion-toolbar>&ndash;&gt;-->
  <!--</ion-header>-->

  <!--<ion-content>-->
    <!--<ion-list>-->
      <!--<button class="cont" [class.activePageHighlight]="checkActive(p)" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">-->
        <!--{{p.title}}-->

      <!--</button>-->
    <!--</ion-list>-->
  <!--</ion-content>-->
<!--<ion-footer>-->

<!--</ion-footer>-->
<!--</ion-menu>-->
<!--<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>-->
