<!--
  Generated template for the MyApprovalsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Подтверждения</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="cards-bg social-cards">

  <ion-card (click)="openFriellenge(item.friellenge)" *ngFor="let item of approvals">

    <ion-item >
    <ion-avatar class="avatr" item-start>
    <img src={{item.friellenge.reference}}>
    </ion-avatar>
      <p>{{item.friellenge.nameFriellenge}}</p>

      <p>{{item.friellenge.descriptionOfFriellenge}}</p>

    </ion-item>
    <ion-item *ngIf="item.reference != '' || item.comment != ''">

      <ion-avatar class="avatr clearfix" item-start>
        <img src={{item.reference}}>
      </ion-avatar>
      <p>{{item.comment}}</p>

    </ion-item>
    <ion-icon class="check" *ngIf="item.confirmation == true" ios="ios-checkmark" md="md-checkmark">  Подтвержден</ion-icon>

  </ion-card>

</ion-content>
