<ion-header>
    <ion-navbar>
        <ion-title>
          <ion-icon name="list"></ion-icon>
            <!--Welcome, Java Hipster!-->
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding >
    <!--<span class="splash"></span>-->
  <div class="contex">
    <div *ngIf="!isUserLoggedIn">
      <button ion-button block (click)="loginWithFB()">{{ 'LOGIN FACEBOOK' | translate }}</button>
    </div>
    <div>
      <button ion-button block (click)="login()" class="login">{{ 'LOGIN' | translate }}</button>

      <div class="prigl">
        <p>Приглашение друзей</p>
        <p>Поделиться</p>
      </div>
  </div>



      <!--<p>Don't have an account yet?</p>-->
        <!--<button ion-button block (click)="signup()">{{ 'SIGNUP' | translate }}</button>-->

    </div>
</ion-content>
