page-welcome {
}

.prigl {
  text-align: center;
  font-size: 16px;
  color: white;
  padding-top: 20px;
}

.ion-app.md {
  //background: url("../../assets/img/Logo.svg") no-repeat #F3C5A1;

}

.content-md {
  background: url("../../assets/img/Logo.svg") no-repeat center 25%,  linear-gradient(to right, #E76D6A, #F3C5A1);
}

.content-ios {
  background: url("../../assets/img/Logo.svg") no-repeat center 25%,  linear-gradient(to right, #E76D6A, #F3C5A1);
}

.ion-navbar.toolbar {
  background: linear-gradient(to right, #E76D6A, #F3C5A1);
}

.toolbar-background-ios{
  background: linear-gradient(to right, #E76D6A, #F3C5A1);
}

.toolbar-background-md {
  background: linear-gradient(to right, #E76D6A, #F3C5A1);

}
.contex {
  margin-top: 105%;
}

//.scroll-content {
//  overflow: hidden !important;
//}

