page-friellenge {


}
h2{
  display: flex;
  justify-content: space-between;
}

 .df {
   padding-left: 5px;
  display: flex;
  //justify-content: center;
  align-items: center;
   min-width: 5em;
   //font-size: 1.8em;
   //line-height: .67;
}
 .star {
   color: yellow;
 }

.frie {
  text-align: center;
}
.but{
  color: white;
  font-size: 25px;
}


.action-sheets-basic-page {
  .ion-md-share {
    color: #ED4248;
  }
  .ion-md-arrow-dropright-circle {
    color: #508AE4;
  }
  .ion-md-heart-outline {
    color: #31D55F;
  }
  .action-sheet-cancel ion-icon,
  .action-sheet-destructive ion-icon {
    color: #757575;
  }

}
.d {
  width: 100%;
  height: 100%;
  background-color: yellow;
}
.status {
  color: red;
  font-size: 20px;
}

.prog{
  color: #0bd501;
}
.fin{
  color: #da2929;
}
.deff{
  color: #d5b200;
}
