<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="newfri()">
        <ion-icon class="but" name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar *ngIf="search" [(ngModel)]="terms"></ion-searchbar>
    <ion-title *ngIf="!search" class="frie">Friellenge</ion-title>
    <ion-buttons right="">
      <button ion-button (click)="openMenu()">
        <ion-icon class="but" name="list"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content class="cards-bg social-cards">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Потяните для обновления"
      refreshingSpinner="circles"
      refreshingText="Обновление...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let item of (friellengeLine | search : terms | sort: {property: column, subproperty: subcolumn, order: order})">

    <ion-item >

        <p class="status" *ngIf="item.remains == 'Finished'">
          <span class="status" >Friellenge is finished
          </span>
        </p>

      <h2>{{item.profile.fullName}}
        <ion-buttons end>
        <button ion-button color="primary" (click)="presentPopover($event, item)" clear small icon-start>
        <ion-icon name='ios-more-outline' ></ion-icon>
      </button>
        </ion-buttons>
      </h2>
      <p>{{item.profile.location}}
        <ion-icon *ngIf="item.type == 'Open'" ios="ios-globe" md="md-globe"></ion-icon>
        <ion-icon *ngIf="item.type == 'Private'" ios="ios-lock" md="md-lock"></ion-icon>
        <ion-icon *ngIf="item.type == 'Friends'" ios="ios-contacts" md="md-contacts"></ion-icon>
      </p>

      <ion-avatar item-start>
        <img src={{item.profile.linkPhoto}} (click)="openProfile(item.profile)">
      </ion-avatar>
      <!--*ngIf="item.status == 'InProcess'"-->
      <p>
      <ion-icon class="prog" *ngIf="item.status == 'InProcess'">В процессе</ion-icon>
      <ion-icon class="fin" *ngIf="item.status == 'Finished'">Законченный</ion-icon>
      <ion-icon class="deff" *ngIf="item.status == 'Deffered'">Отложенный</ion-icon>
      </p>
      <!--<ion-icon name="thumbs-up">{{item.type}}</ion-icon>-->

    </ion-item>

    <ion-card-content>
      <p (click)="openFriellenge(item)">{{item.nameFriellenge}}</p>
      <p (click)="openFriellenge(item)">{{item.descriptionOfFriellenge}}</p>
    </ion-card-content>

    <button *ngIf="!item.isJoinIn" ion-button full color="green" (click)="joinIn(item); openFriellenge(item)">
      Join in
    </button>
    <button *ngIf="item.isJoinIn" ion-button full color="red" (click)="leaveIt(item)">
      Leave it
    </button>
    <button *ngIf="item.isJoinIn" ion-button full color="red" (click)="approvalFriellenge(item)">
      Approval
    </button>

    <img src={{item.picture}}>

    <ion-row>

      <ion-col  color="danger" align-self-center text-center>
        <p  clear small  >
          <ion-icon name='md-heart' color="danger"></ion-icon>
          <!--<span padding-left="0" ></span >-->
            {{item.friellengeLikes}}
        </p>
      </ion-col>


      <ion-col align-self-center text-center>
        <p  clear small >
          <ion-icon name='md-person' color="primary"></ion-icon>
          {{item.countOfProfileByFriellenge}}
        </p>
      </ion-col>

      <ion-col align-self-center text-center>
        <p  clear small>
          <ion-icon name="logo-usd" color="green"></ion-icon>
          {{item.donat}}
        </p>
      </ion-col>

      <ion-col align-self-center text-center>
        <!--<button ion-button color="dark" clear small icon-start-->
                <!--(click)="commentPage(item.id)"-->
        <!--&gt;-->
          <ion-note >
           {{item.countOfCommentByFriellenge}} Comments
          </ion-note>
        <!--</button>-->
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button clear small icon-start (click)="addLike(item.id)">

          <p *ngIf="item.isLiked">
            <ion-icon name='md-heart' color="danger"></ion-icon>
          </p>
          <p *ngIf="!item.isLiked">
            <ion-icon name='ios-heart-outline'></ion-icon>
          </p>

        </button>
      </ion-col>

      <ion-col>
        <button ion-button color="dark" clear small icon-start (click)="commentPage(item)">
          <ion-icon name='ios-text-outline'></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button color="dark" clear small icon-start>
          <ion-icon name='ios-redo-outline'></ion-icon>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          <button ion-button color="dark" clear small icon-start (click)="addToFavorite(item.id)">
            <p *ngIf="item.isFavorite">
              <ion-icon name='ios-star' color = "yellow"></ion-icon>
            </p>
            <p *ngIf="!item.isFavorite">
              <ion-icon name='ios-star-outline'></ion-icon>
            </p>
          </button>
        </ion-note>
      </ion-col>
    </ion-row>
    <ion-card-content>
    <ion-col *ngIf="item.remains !== 'Finished'">
      {{item.remains}}
    </ion-col>

    <ion-col *ngIf="item.remains == 'Time to end'">
      <p text-center *ngIf="timeInSeconds && timeInSeconds > 0">{{displayTime}}</p>
    </ion-col>
      </ion-card-content>
  </ion-card>
</ion-content>

  <!--<ion-footer>-->
  <!--<ion-navbar>-->
    <!--<ion-buttons end>-->

    <!--</ion-buttons>-->
  <!--</ion-navbar>-->
  <!--</ion-footer>-->

  <!--<ion-card>-->

    <!--<ion-item>-->
      <!--<ion-avatar item-start>-->
        <!--<img src="assets/img/sarah-avatar.png.jpeg">-->
      <!--</ion-avatar>-->
      <!--<h2>Sarah Connor</h2>-->
      <!--<p>May 12, 1984</p>-->
    <!--</ion-item>-->

    <!--<img src="assets/img/advance-card-tmntr.jpg">-->

    <!--<ion-card-content>-->
      <!--<p>I face the unknown future, with a sense of hope. Because if a machine, a Terminator, can learn the value of human life, maybe we can too.</p>-->
    <!--</ion-card-content>-->

    <!--<ion-row>-->
      <!--<ion-col>-->
        <!--<button ion-button color="primary" clear small icon-start>-->
          <!--<ion-icon name='thumbs-up'></ion-icon>-->
          <!--30 Likes-->
        <!--</button>-->
      <!--</ion-col>-->
      <!--<ion-col>-->
        <!--<button ion-button color="primary" clear small icon-start>-->
          <!--<ion-icon name='text'></ion-icon>-->
          <!--64 Comments-->
        <!--</button>-->
      <!--</ion-col>-->
      <!--<ion-col align-self-center text-center>-->
        <!--<ion-note>-->
          <!--30yr ago-->
        <!--</ion-note>-->
      <!--</ion-col>-->
    <!--</ion-row>-->

  <!--</ion-card>-->


  <!--<ion-card>-->

    <!--<ion-item>-->
      <!--<ion-avatar item-start>-->
        <!--<img src="assets/img/ian-avatar.png">-->
      <!--</ion-avatar>-->
      <!--<h2>Dr. Ian Malcolm</h2>-->
      <!--<p>June 28, 1990</p>-->
    <!--</ion-item>-->

    <!--<img src="assets/img/advance-card-jp.jpg">-->

    <!--<ion-card-content>-->
      <!--<p>Your scientists were so preoccupied with whether or not they could, that they didn't stop to think if they should.</p>-->
    <!--</ion-card-content>-->

    <!--<ion-row>-->
      <!--<ion-col>-->
        <!--<button ion-button color="primary" clear small icon-start>-->
          <!--<ion-icon name='thumbs-up'></ion-icon>-->
          <!--46 Likes-->
        <!--</button>-->
      <!--</ion-col>-->
      <!--<ion-col>-->
        <!--<button ion-button color="primary" clear small icon-start>-->
          <!--<ion-icon name='text'></ion-icon>-->
          <!--66 Comments-->
        <!--</button>-->
      <!--</ion-col>-->
      <!--<ion-col align-self-center text-center>-->
        <!--<ion-note>-->
          <!--2d ago-->
        <!--</ion-note>-->
      <!--</ion-col>-->
    <!--</ion-row>-->

  <!--</ion-card>-->




<!--<style>-->
  <!--.social-cards ion-col {-->
    <!--padding: 0;-->
  <!--}-->
<!--</style>-->
