<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Entities
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let entity of entities" (click)="openPage(entity)">
      <h2>{{entity.name}}</h2>
    </ion-item>
  </ion-list>
</ion-content>
