
<ion-header>

  <ion-navbar>
    <ion-title>{{profile.fullName}}</ion-title>
  </ion-navbar>

</ion-header>



<ion-content *ngIf="profile">

  <ion-avatar>
    <img src="{{profile.linkPhoto}}"height="255" width="370" />
  </ion-avatar>
  <ion-card-content>
    <ion-card-title>
      {{profile.fullName}}
    </ion-card-title>
    <hr align = "left">
    <p>
      {{profile.location}}
    </p>


      <ion-icon color="danger" ios="ios-heart" md="md-heart"></ion-icon>
      {{profile.likesUser}}


    <button ion-button color="danger" clear  icon-left >
      <ion-icon ios="ios-heart-outline" md="md-heart-outline"></ion-icon>
      {{profile.likesAuthor}}
    </button>

    <button ion-button clear  color="dark" icon-left>
      <ion-icon name='ios-text-outline'></ion-icon>
    </button>

    <p>
      {{profile.description}}
    </p>
    <br/>


      <p *ngIf="btn && btns">
      <ion-icon ios="ios-person-add" md="md-person-add" (click)="addFriends()"></ion-icon>
      </p>
      <p *ngIf="!btn">
        <ion-icon ios="ios-close-circle" md="md-close-circle"(click)="deleteFriends(profile)"></ion-icon>
      </p>


    <div class="ava" *ngFor="let p of profiles">
      <ion-avatar >
        <img class="brd-radius" src="{{p.linkPhoto}}" (click)="openProfile(p)" />
      </ion-avatar>
      {{p.fullName}}
    </div>

    <p *ngIf="profiles">
      Friends {{profiles.length}}
    </p>


  </ion-card-content>

</ion-content>
