<ion-header>
  <ion-navbar>
    <ion-title>
      Social Sharing
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="message" placeholder="Enter message"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="file" placeholder="Enter file"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="link" placeholder="Enter link"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="subject" placeholder="Enter subject"></ion-input>
        </ion-item>

      </ion-list>
      <button ion-button full (click)="share">Share</button>
</ion-content>


<!--<button ion-button icon-only (click)="regularShare(i)" color="primary" clear>-->
  <!--<ion-icon class="share-icon" name="share"></ion-icon>-->
<!--</button>-->
<!--<button ion-button icon-only (click)="whatsappShare(i)" color="primary" clear>-->
  <!--<ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>-->
<!--</button>-->
<!--<button ion-button icon-only (click)="facebookShare(i)" color="primary" clear>-->
  <!--<ion-icon  class="share-icon" name="logo-facebook"></ion-icon>-->
<!--</button>-->
<!--<button ion-button icon-only (click)="twitterShare(i)" color="primary" clear>-->
  <!--<ion-icon class="share-icon" name="logo-twitter"></ion-icon>-->
<!--</button>-->
