<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Comment</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg social-cards">

  <ion-card *ngFor="let item of comment">

    <ion-item >
      <ion-avatar item-start>
        <img src={{item.profile.linkPhoto}}>
      </ion-avatar>
      <h2>{{item.profile.fullName}}
        <ion-buttons end>
          <button ion-button color="primary" (click)="presentPopoverComment($event, item)" clear small icon-start>
            <ion-icon name='ios-more-outline' ></ion-icon>
          </button>
        </ion-buttons>
     </h2>
      <h5 icon-start class="commentDate">{{getDate(item.commentDate)}}</h5>
      <p class="frName">{{item.friellenge.nameFriellenge}}</p>
    </ion-item>

    <ion-card-content>
      {{item.comment}}

    </ion-card-content>
  </ion-card>

  <ion-content>

    <ion-list>

      <ion-item>
        <ion-label floating>Comment</ion-label>
        <ion-textarea [(ngModel)]="newComment.comment" type="text"></ion-textarea>
      </ion-item>

    </ion-list>

  </ion-content>

</ion-content>



<ion-footer>

  <button (click)="save()" color="light" ion-button full>Save</button>

</ion-footer>



<!--<div>-->
  <!--<div [formGroup]="form">-->
    <!--<div>-->
      <!--<button ion-button color="dark" block><span class="fontColor" >Save</span></button>-->
    <!--</div>-->
  <!--</div>-->






    <!--<form [formGroup]="form" (ngSubmit)="SaveChanges(form.value)">-->
      <!--<ion-item>-->
        <!--<ion-label color="primary"  floating>CommentModel</ion-label>-->
        <!--<ion-textarea></ion-textarea>-->
      <!--</ion-item>-->
      <!--<div>-->
        <!--<button ion-button color="dark" [disabled]="!form.valid" block><span class="fontColor" >Save</span></button>-->
      <!--</div>-->
    <!--</form>-->
<!--</div>-->






