ion-menu {
  .newcontent{
    background-color: grey;
  }
}
.list {
  padding-left: 20px ;
  padding-top: 30px ;
}
.cont{
  background-color: grey;
  color: white;
  height: 20px;

}

.activePageHighlight {
  //background-color: map-get($colors, yellow);
  padding-left:20px;
  border-left: 5px solid red;
  border-width: 5px!important;
}

.brd-radius {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}


//.ava {
//  padding-left: 30px ;
//  padding-top: 100px ;
//}

.conte {
  color: white;
  padding-left: 30px ;
}

.loc {
  color: white;
  padding-left: 30px ;
}
