<ion-menu [content]="content">

  <ion-content class="newcontent">
    <ion-list no-lines class="list">
      <button class="cont" [class.activePageHighlight]="checkActive(p)" menuClose
              ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>


      <ion-content *ngIf="profile" >

      <ion-avatar class="ava">
          <img class="brd-radius" src="{{profile.linkPhoto}}" (click)="openPage(pagesProfile)" menuClose/>
        </ion-avatar>

    <!--<div class="Down"></div>-->


      <ion-card-title class="conte">
        {{profile.fullName}}
      </ion-card-title>
       <div class="loc">{{profile.location}}</div>

      </ion-content>

  </ion-content>


</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
